<header id="main-header">
  <div id="logo"><a href="/">GIG</a></div>
  <nav><%- include('nav-items') %></nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
    <!-- <i class="fa-solid fa-bars fa-beat"></i> -->
  </button>
</header>
<aside id="mobile-menu">
  <nav><%- include('nav-items') %></nav>
</aside>
